[package]
name = "match_wire"
version = "0.5.0"
authors = ["WardLordRuby"]
description = """
MatchWire enhances the core H2M/HMW experience by offering key quality-of-life improvements.
Featuring a robust Server Scraper with extensive filtering options. Additionally, MatchWire
makes it simple to reconnect to previously joined servers, streamlining your gameplay experience.
Created by: WardLordRuby <@7thWardLord Discord>"""
edition = "2021"

[package.metadata.winresource]
ProductName = "MatchWire"
FileDescription = "H2M-mod launcher"
ProductVersion = "0.5.0"

[profile.release]
strip = "debuginfo"
lto = true

[dependencies]
reqwest = { version = "0.12.7", features = ["json"] }
serde = { version = "1.0.210", features = ["derive"] }
serde_json = "1.0.128"
clap = { version = "4.5.18", features = ["derive"] }
tokio = { version = "1.40.0", features = ["macros", "sync", "signal"]}
tokio-stream = "0.1.16"
tracing = { version = "0.1.40", features = ["release_max_level_info"] }
tracing-subscriber = { version = "0.3.18", features = ["env-filter"] }
tracing-appender = "0.2.3"
shellwords = "1.1.0"
crossterm = { version = "0.28.1", features = ["event-stream"]}
winpty-rs = "0.3.16"
winapi = { version = "0.3.9", features = ["winver"]}
regex = "1.10.6"

[build-dependencies]
winresource = "0.1.17"